doctype html
html
  head
    link(href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/css/bootstrap.css" type="text" rel="stylesheet")
    != css('css/layout')
    != css('css/flatly')
    block head
  body
    block content
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js")
